body{
    margin: 0px;
    background-image: url(image/t3dzAF57BM9SfxS0Sk1tiHnl3vHrRgf10yCQATlH.jpeg);
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#y1{
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}
#y1 ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}
#y1 a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
#y1 a:hover{
    background-color: brown;
}
.k1{
    background-color: white;
    width: 30%;
}